---
"ft:title" : "Request User Email Verification in the Veracode Platform"
"ft:prettyUrl" : "Request_User_Email_Verification"
---

You can request that users verify the email address for their user accounts to improve security of their accounts and allow them to access the Veracode Community directly from the Veracode Platform.

<p font-size="13pt"><b>Before You Begin</b></p>

You must have the Administrator [role](https://docs.veracode.com/r/c_role_permissions).

<p font-size="13pt"><b>Steps</b></p>

1. In the Veracode Platform, click the gear icon ![](../../images/gear_icon_platform.png) in the top menu and select **Admin**.

2. In the **Users** tab, select the user whose email address you want to verify.

3. Click the **Send verification email** link.

    Veracode sends the user an email with a subject line of `Action Required: Verify Email Address`. If they do not verify the address within seven days, you must send another verification request.

